[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
textual = "==3.3.0"
py-cpuinfo = "*"
gputil = "*"
psutil = "*"

[dev-packages]

[requires]
python_version = "3.11"
